@import "../../app.component.scss";
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  

  .filter-selector{
    width:100%;
  }
  .example-h2 {
  margin: 0 8px 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}


.mat-slider-horizontal {
  width: 100%;
}

.example-value-label {
  font-weight: 600;
  
}
#min-slider {
  display: flex;
  justify-content: space-between;
  margin: 5px
  
}
