<div class="review">
  <h2>¿Le gustó el producto?</h2>
  <h4>¡Háganos saber!</h4>
  <form action="" [formGroup]="formulario">
    <div class="star-wrapper">
      <div class="star-widget">
        <input
          type="radio"
          value="5"
          name="rate"
          id="rate-5"
          formControlName="rate"
        />
        <label for="rate-5" class="fas fa-star">
          <mat-icon>star</mat-icon>
        </label>
        <input
          type="radio"
          formControlName="rate"
          value="4"
          name="rate"
          id="rate-4"
        />
        <label for="rate-4" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
        <input
          type="radio"
          formControlName="rate"
          value="3"
          name="rate"
          id="rate-3"
        />
        <label for="rate-3" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
        <input
          type="radio"
          formControlName="rate"
          value="2"
          name="rate"
          id="rate-2"
        />
        <label for="rate-2" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
        <input
          type="radio"
          formControlName="rate"
          value="1"
          name="rate"
          id="rate-1"
        />
        <label for="rate-1" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
      </div>
    </div>
    <div id="coment">
      <mat-form-field>
        <mat-label>Deje un comentario</mat-label>
        <textarea formControlName="coment" matInput></textarea>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="btn-standar"
      (click)="sendComent()"
    >
      Enviar Comentario
    </button>
  </form>
  <mat-divider></mat-divider>

  <h3>Comentarios de otros Clientes:</h3>
  <mat-card>
    <mat-card-title>
      <div class="nombreCliente">Fulanito</div>
    </mat-card-title>
    <mat-card-subtitle>
      {{rate(3)}}
      <app-star></app-star>
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus
        consequatur amet ipsam porro iste harum id error labore ex rem sunt
        delectus nobis, minus quo quisquam architecto rerum non?
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <div class="nombreCliente">Fulanito</div>
    </mat-card-title>
    <mat-card-subtitle>
      {{rate(4)}}
      <app-star></app-star>
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus
        consequatur amet ipsam porro iste harum id error labore ex rem sunt
        delectus nobis, minus quo quisquam architecto rerum non?
      </p>
    </mat-card-content>
  </mat-card>
</div>
