<div class="review">
  <form
    action=""
    [formGroup]="formulario"
    *ngIf="this.servicioLogin.loggedUser; else elseBlock"
  >
    <h2>¿Le gustó el producto?</h2>
    <h4>¡Háganos saber!</h4>
    <div class="star-wrapper">
      <div class="star-widget">
        <input
          type="radio"
          value="5"
          name="rate"
          id="rate-5"
          formControlName="rate"
        />
        <label for="rate-5" class="fas fa-star">
          <mat-icon>star</mat-icon>
        </label>
        <input
          type="radio"
          formControlName="rate"
          value="4"
          name="rate"
          id="rate-4"
        />
        <label for="rate-4" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
        <input
          type="radio"
          formControlName="rate"
          value="3"
          name="rate"
          id="rate-3"
        />
        <label for="rate-3" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
        <input
          type="radio"
          formControlName="rate"
          value="2"
          name="rate"
          id="rate-2"
        />
        <label for="rate-2" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
        <input
          type="radio"
          formControlName="rate"
          value="1"
          name="rate"
          id="rate-1"
        />
        <label for="rate-1" class="fas fa-star"
          ><mat-icon>star</mat-icon></label
        >
      </div>
    </div>
    <div id="coment">
      <mat-form-field>
        <mat-label>Deje un comentario</mat-label>
        <textarea
          formControlName="coment"
          matInput
          #message
          maxlength="250"
        ></textarea>
        <mat-hint align="end">{{ message.value.length }} / 250</mat-hint>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="btn-standar"
      (click)="sendComent()"
    >
      Enviar Comentario
    </button>
  </form>
  <ng-template #elseBlock>Inicie sesión para añadir un comentario</ng-template>
  <mat-divider></mat-divider>
  <div
    *ngIf="this.servicioProductos.listaComentarios.length > 0;else elseBlock2"
  >
    <h3>Comentarios de otros Clientes:</h3>
    <div *ngFor="let item of this.servicioProductos.listaComentarios">
      <mat-card>
        <mat-card-title>
          <div class="nombreCliente">{{ item.nombres }}</div>
        </mat-card-title>
        <mat-card-subtitle>
          {{ rate(item.valoracion) }}
          <app-star></app-star>
        </mat-card-subtitle>
        <mat-card-content>
          <p>
            {{ item.comentario }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template #elseBlock2>
    <h3>Aún no hay comentarios.</h3>
  </ng-template>
</div>
