<div class="content-wrapper">
  <div>
    <h1>Titulo</h1>
  </div> 
  <div id="content">
    <div id="filter" class="column">
     <app-filter></app-filter>
    </div>
    <div class="column" id="products-wrapper">
      <h2>Productos</h2>
      <div id="products">
        <div *ngFor="let item of servicioProductos.listaProductos">
          
          <mat-card class="card" (click)="verProducto(item)">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/{{servicioProductos.catBusqueda}}/{{item.idProducto}}.jpg"
                alt="foto productos"
              />
              <mat-card-content class="title">
                <b>{{item.nombreProducto}}</b>
              </mat-card-content>
            </button>

            <mat-card-content class="price"> $ {{moneyFormating(item.precio)}}</mat-card-content>   
            
            <app-star>{{rate(item.valoracion)}}</app-star>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
