<div class="content-wrapper">
  <div class="column">
    <h2>CLIENTES REGISTRADOS</h2>
    <div class="box">
      <h2></h2>
      <div class="text">
        Si tiene una cuenta, inicie sesión con su dirección de correo
        electrónico.
      </div>
      <form [formGroup]="formulario">
        <div class="input-container">
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" type="email" />
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <!-- 
          <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          formControlName="recaptcha"> 
          </ngx-recaptcha2> 
          -->
          <button  mat-flat-button 
          color="accent"
          class="btn-standar" 
          (click)="onSubmit()"
          >INICIAR SESION</button>
        </div>
        <a href="http://localhost:4200/passwordReset">¿Olvidaste tu contraseña?</a>
      </form>
    </div>
  </div>

  <div class="column">
    <h2>NUEVOS CLIENTES</h2>
    <div class="box">
      <div>
        <div class="text">
          Crear una cuenta tiene muchos beneficios: Pago más rápido, guardar tu una dirección, comentar y valorar productos y mucho más.
        </div>
        <div>
          <div>
            <button
              mat-flat-button
              color="accent"
              type="submit"
              class="btn-standar"
              (click)="goRegister()"
            >
              CREAR CUENTA
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
