.content-wrapper {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 71%;
}

#btn-logo {
  width: 180px;
}

.box {
  background-color: #ffff;
  border: solid 0.8px #adadad;
  border-radius: 10px;
  padding: 20px 20px;
}

.btn-standar {
  border-radius: 20px;
  height: 3rem;
  width: 50%;
  min-width: 200px;
}

.input-container {
  width: 100%;
}

.mat-toolbar-row,
.mat-toolbar {
  background-color: #212833;
  border-top: 1px solid #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second-row {
  border-bottom: 2px solid #2196f3;
  height: 48px;
}

input {
  height: 1rem;
  width: 30vw;
  border: 0px;
  outline: none;
  font-size: small;
}

#busqueda,
#sub-busqueda {
  background-color: white;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
  height: 2.5rem;
}

#busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#btn-search,
#hambuger-menu,
#sub-busqueda {
  display: none;
}

.btn-icon-text,
#btn-search,
#hambuger-menu {
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  color: #a09e9e;
  height: 2.5rem;
}

.btn-icon-text:hover,
#btn-search:hover,
#hambuger-menu:hover {
  color: white;
}

.btn-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-header {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0 40px;
}

.btn-icon {
  height: 2.5rem;
  margin-bottom: -10px;
}

.btn-text {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#categorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-content {
  color: white;
  font-size: 0.8em;
  font: bold;
  padding: 0px 1vw;
  -webkit-transition: border-bottom 0.1s ease-in;
  transition: border-bottom 0.1s ease-in;
  border-bottom: 8px solid #212833;
}

.tab-content:hover {
  border-bottom: 8px solid #2196f3;
}

@media screen and (max-width: 600px) {
  #busqueda,
  #arrow-down,
  .btn-text,
  #profile-menu,
  #categorys,
  #second-row {
    display: none;
  }
  #btn-search,
  #hambuger-menu,
  #sub-busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mat-icon-button i,
  .mat-icon-button .mat-icon {
    line-height: normal;
  }
  #btn-search:focus,
  #sub-busqueda_focus {
    color: white;
  }
  #btn-search:focus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-icon {
    font-size: 1.8rem;
    margin: 0px;
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
  .btn-header {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-content {
    padding: 0px;
  }
}
/*# sourceMappingURL=header.component.css.map */