<mat-toolbar>
  <mat-toolbar-row>
    <div class="header-content" id="hambuger-menu">
      <button mat-button class="btn-header" [matMenuTriggerFor]="Category">
        <mat-icon class="btn-icon">menu</mat-icon>
      </button>
      <mat-menu #Category="matMenu">
        <button mat-menu-item>Football</button>
        <button mat-menu-item>Basketball</button>
        <button mat-menu-item>Rugby</button>
        <button mat-menu-item>Handball</button>
        <button mat-menu-item>Ciclismo</button>
        <button mat-menu-item>Boxeo</button>
        <button mat-menu-item>Tenis</button>
      </mat-menu>
    </div>

    <div class="header-content">
      <button mat-button id="btn-logo">
        <img src="../../../assets/img/logo_01.svg" alt="" />
      </button>
    </div>

    <div class="header-content" id="header-search">
      <button mat-icon-button class="btn-header" id="btn-search" (click)=name()>
        <mat-icon class="btn-icon">search</mat-icon>
      </button>

      <div id="busqueda" class="search-content">
        <input placeholder="Busca en nuestra tienda..." />
        <mat-icon matSuffix>search</mat-icon>
      </div>
    </div>

    <div class="header-content">
      <button mat-icon-button class="btn-header">
        <div class="btn-icon-text">
          <mat-icon class="btn-icon">shopping_cart</mat-icon>
          <div class="btn-text">CARRITO</div>
        </div>
      </button>
    </div>

    <div class="header-content">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        id="btn-profile"
        class="btn-header"
      >
        <div class="btn-icon-text">
          <mat-icon class="btn-icon">person_outline</mat-icon>
          <div id="profile-menu">
            <div class="btn-text">MI PERFIL</div>
            <mat-icon id="arrow-down">keyboard_arrow_down</mat-icon>
          </div>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Iniciar Sesión</button>
        <button mat-menu-item>Crear Cuenta</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row id="second-row">
    
    <div id="sub-busqueda" class="search-content">
      <input placeholder="Busca en nuestra tienda..." />
      <mat-icon matSuffix>search</mat-icon>
    </div>

    <div id="categorys">
      <div class="tab-content">FOOTBALL</div>
      <div class="tab-content">BASKETBALL</div>
      <div class="tab-content">RUGBY</div>
      <div class="tab-content">HANDBALL</div>
      <div class="tab-content">CICLISMO</div>
      <div class="tab-content">BOXEO</div>
      <div class="tab-content">TENIS</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
