<mat-toolbar>
  <div>
    <h1>Athenas</h1>
  </div>

  <div id="busqueda">
    <input placeholder="Busca en nuestra tienda..." />
    <mat-icon matSuffix>search</mat-icon>
  </div>
  <div>
    <button mat-button>
      <div class="btn-icon-text">
        <mat-icon class="btn-icon">person_outline</mat-icon>
        <span class="btn-text">MI PERFIL</span>
      </div>
    </button>
 
    <button mat-button>
      <div class="btn-icon-text">
        <mat-icon class="btn-icon">shopping_cart_outline</mat-icon>
        <span class="btn-text">CARRITO</span>
      </div>
    </button>
  </div>
  
</mat-toolbar>
