@import "../../app.component.scss";
.mat-toolbar-row,
.mat-toolbar {
  background-color: $area;
  border-top: 1px solid #444444;
  display: flex;
  justify-content: center;
  align-items: center;
}
#second-row {
  border-bottom: 2px solid $primary;
  height: 48px;
}

input {
  height: 1rem;
  width: 20vw;
  border: 0px;
  outline: none;
  font-size: small;
}
#busqueda,
#sub-busqueda {
  background-color: white;
  border-radius: 20px;
  align-items: center;
  padding: 0px 10px 0px 10px;
  height: 2.5rem;
}
#busqueda {
  display: flex;
}

#btn-search,
#hambuger-menu,
#sub-busqueda {
  display: none;
}
#icon-circle{
  font-size: 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
}
.user-data-text{
  height: 2.98rem;
}
.user-data{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0.5rem;
}
.btn-icon-text,
#btn-search,
#hambuger-menu {
  transition: color 0.1s ease;
  color: rgb(160, 158, 158);
  height: 2.5rem;
}

.btn-icon-text:hover,
#btn-search:hover,
#hambuger-menu:hover,
.btn-icon-text:focus,
#btn-search:focus,
#hambuger-menu:focus {
  color: rgb(255, 255, 255);
}
.btn-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-header {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0 40px;
}
.btn-icon {
  height: 2.5rem;
  margin-bottom: -10px;
}
.btn-text {
  font-size: 0.8rem;
  display: flex;
}
.header-content {
  display: flex;
  align-items: center;
}
#profile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#categorys {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-content {
  color: white;
  font-size: 0.8em;
  font-family: $light-font;
  font-weight: 600;
  padding: 0px 1vw;
  transition: border-bottom 0.1s ease-in;
  border-bottom: 8px solid $area;
}
.tab-content:hover {
  border-bottom: 8px solid $primary;
}


@media screen and (max-width: 600px) {
  #busqueda,
  #arrow-down,
  .btn-text,
  #profile-menu,
  #categorys,
  #second-row {
    display: none;
  }

  #btn-search,
  #hambuger-menu,
  #sub-busqueda {
    display: flex;
  }
  .mat-icon-button i,
  .mat-icon-button .mat-icon {
    line-height: normal;
  }
  #btn-logo{
    max-width: 120px;
  }

  .btn-icon {
    font-size: 1.8rem;
    margin: 0px;
    transform: translatey(3px);
  }
  .btn-header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .header-content {
    padding: 0px;
  }
}
