<mat-toolbar>
  <mat-toolbar-row>
    <div class="header-content" id="hambuger-menu">
      <button mat-icon-button class="btn-header" [matMenuTriggerFor]="Category">
        <mat-icon  class="btn-icon">menu</mat-icon>
      </button>
      <mat-menu #Category="matMenu">
        <button (click)="goCategory('football')" mat-menu-item>Football</button>
        <button (click)="goCategory('basketball')" mat-menu-item>
          Basketball
        </button>
        <button (click)="goCategory('rugby')" mat-menu-item>Rugby</button>
        <button (click)="goCategory('handball')" mat-menu-item>Handball</button>
        <button (click)="goCategory('ciclismo')" mat-menu-item>Ciclismo</button>
        <button (click)="goCategory('boxeo')" mat-menu-item>Boxeo</button>
        <button (click)="goCategory('tenis')" mat-menu-item>Tenis</button>
      </mat-menu>
    </div>

    <div class="header-content">
      <button mat-button id="btn-logo" (click)="goHome()">
        <img src="../../../assets/img/logo_01.svg" alt="" />
      </button>
    </div>

    <div class="header-content" id="header-search">
      <button
        mat-icon-button
        class="btn-header"
        id="btn-search"
        (click)="name()"
      >
        <mat-icon class="btn-icon">search</mat-icon>
      </button>

      <div id="busqueda" class="search-content">
        <input
          placeholder="Busca en nuestra tienda..."
          name="inputSearch"
          id="inputSearch"
        />
        <button mat-icon-button (click)="search()">
          <mat-icon matSuffix>search</mat-icon>
        </button>
      </div>
    </div>

    <div class="header-content">
      <button mat-icon-button class="btn-header" (click)="goCart()">
        <div class="btn-icon-text">
          <mat-icon
            class="btn-icon"
            [matBadgeHidden]="this.servicioCarrito.hiddenBadge"
            matBadge="{{ this.servicioCarrito.listaCarrito.length }}"
            matBadgeColor="accent"
            matBadgeSize="small"
            >shopping_cart</mat-icon
          >
          <div class="btn-text">CARRITO</div>
        </div>
      </button>
    </div>

    <div class="header-content">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        id="btn-profile"
        class="btn-header"
      >
        <div class="btn-icon-text">
          <mat-icon class="btn-icon">person</mat-icon>
          <div id="profile-menu">
            <div class="btn-text">MI PERFIL</div>
            <mat-icon id="arrow-down">keyboard_arrow_down</mat-icon>
          </div>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="this.servicioLogin.loggedUser; else elseBlock">
          <div class="user-data">
            <h2>{{ this.servicioLogin.profile.nombres }} {{ this.servicioLogin.profile.apellidos }}</h2>
            <h3>{{ this.servicioLogin.profile.direccion }}</h3>
            <h3>{{ this.servicioLogin.profile.comuna }}, {{ this.servicioLogin.profile.region }}</h3>
          </div>
          <button mat-menu-item (click)="goProfile">Mi Perfil</button>
          <button mat-menu-item (click)="closeSession()">Cerrar Sesión</button>
        </div>
        <ng-template #elseBlock>
          <button mat-menu-item (click)="goLogin()">Iniciar Sesión</button>
          <button mat-menu-item (click)="goRegister()">Crear Cuenta</button>
        </ng-template>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row id="second-row">
    <div id="sub-busqueda" class="search-content">
      <input placeholder="Busca en nuestra tienda..." />
      <button mat-icon-button (click)="search()">
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </div>

    <div id="categorys">
      <button mat-button (click)="goCategory('football')" class="tab-content">
        FOOTBALL
      </button>
      <button mat-button (click)="goCategory('basketball')" class="tab-content">
        BASKETBALL
      </button>
      <button mat-button (click)="goCategory('rugby')" class="tab-content">
        RUGBY
      </button>
      <button mat-button (click)="goCategory('handball')" class="tab-content">
        HANDBALL
      </button>
      <button mat-button (click)="goCategory('ciclismo')" class="tab-content">
        CICLISMO
      </button>
      <button mat-button (click)="goCategory('boxeo')" class="tab-content">
        BOXEO
      </button>
      <button mat-button (click)="goCategory('tenis')" class="tab-content">
        TENIS
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
