
<div class="content-wrapper">
    <div class="column">
      <h2>RECUPERA TU CONTRASEÑA</h2>
      <div class="box">
        <h2></h2>
        <div class="text">
          Si deseas recuperar su contraseña, ingresa tu email registrado para cambiarla.
        </div>
        <form [formGroup]="formulario">
          <div class="input-container">
            <mat-form-field appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email" type="email" />
            </mat-form-field>
          </div>
          
          <div>
            <!-- 
            <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha"> 
            </ngx-recaptcha2> 
            -->
            <button  mat-flat-button 
            color="accent"
            class="btn-standar" 
            (click)="onSubmit()"
            >Enviar</button>
          </div>
        </form>
      </div>
    </div>
</div>
  
