@import "../../../app.component.scss";
.content-wrapper{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.content-wrapper div{
  display: flex;
}
.mat-column-Producto{
  width: 60%;
  max-width: 500px;
  padding: 0;
}
.mat-column-Cantidad{
  border-right: 0.7px solid $light-area;
  padding: 0 5px 0 5px;
}
.mat-column-Subtotal{
  padding-left: 5px;
}
.mat-column-Precio div{
  color:$accent;
}
.mat-column-Subtotal, .mat-column-Precio, .mat-column-Cantidad{
  text-align: center;
}
img{
  max-width: 200px;
  min-width: 100px;
  width: 100%;
}
.product-img-name{
  width: 100%;
  display: flex;
  align-items: center;

}
h1{
  font-family: $strong-font;
  color: $area;
  font-size: 2.5rem;
  
}
h4{
  font-family: $light-font;
  font-weight: 600;
}
table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.content-wrapper{
  display: flex;
}
#carrito{
  width: 80%;
  max-width: 1100px;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content:center;
}
#resumen{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 5px;
}
#resumen .mat-card{
  width: 90%;
}
@media screen and (max-width: 770px) {
  
  .content-wrapper, .product-img-name, .content-wrapper div{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #resumen, #carrito, .content-wrapper div{
    width: 100%;
    align-items: center;
    
  }
  table{
    width:80%
  }
}