.content-wrapper {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 72%;
}

#btn-logo {
  width: 180px;
}

.box {
  background-color: #ffff;
  border: solid 0.8px #adadad;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 5px 0;
}

.btn-standar, .g-recaptcha {
  border-radius: 30px;
  height: 3rem;
  width: 50%;
  min-width: 200px;
}

.input-container {
  width: 100%;
}

.price {
  color: #ff4081;
}

.btn-standar {
  margin: 10px 0px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.card {
  -webkit-transition: -webkit-box-shadow 0.1s ease-in;
  transition: -webkit-box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in, -webkit-box-shadow 0.1s ease-in;
}

.card:hover {
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.content-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mat-column-Producto {
  width: 60%;
  max-width: 500px;
  padding: 0;
}

.mat-column-Cantidad {
  border-right: 0.7px solid #f7f7f7;
  padding: 0 5px 0 5px;
}

.mat-column-Subtotal {
  padding-left: 5px;
}

.mat-column-Precio div {
  color: #ff4081;
}

.mat-column-Subtotal, .mat-column-Precio, .mat-column-Cantidad {
  text-align: center;
}

img {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
}

.product-img-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: "Anton", Arial, sans-serif;
  color: #212833;
  font-size: 2.5rem;
}

h4 {
  font-family: "Poppins";
  font-weight: 600;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#carrito {
  width: 80%;
  max-width: 1100px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 5px;
}

#resumen .mat-card {
  width: 90%;
}

@media screen and (max-width: 770px) {
  .content-wrapper, .product-img-name, .content-wrapper div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #resumen, #carrito, .content-wrapper div {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  table {
    width: 80%;
  }
}
/*# sourceMappingURL=cart.component.css.map */