.content-wrapper {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 68%;
}

#btn-logo {
  width: 180px;
}

.box {
  background-color: #ffff;
  border: solid 0.8px #adadad;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 5px 0;
}

.btn-standar {
  border-radius: 30px;
  height: 3rem;
  width: 50%;
  min-width: 200px;
}

.input-container {
  width: 100%;
}

.price {
  color: #ff4081;
}

.btn-standar {
  margin: 10px 0px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.card {
  -webkit-transition: -webkit-box-shadow 0.1s ease-in;
  transition: -webkit-box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in, -webkit-box-shadow 0.1s ease-in;
}

.card:hover {
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-wrapper {
  background-color: #ffff;
}

.card,
.available-stock,
.quantity-wrapper,
.quantity-manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-wrapper {
  padding: 20px 0;
  width: 100%;
}

.column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#img-product {
  width: 100%;
  margin: 0px;
}

.column {
  margin: 0 10px;
  width: 40%;
}

.price {
  font-size: 1.6rem;
}

.box-gray {
  background-color: #ffff;
  padding: 10px 0px;
}

.box {
  background-color: #f7f7f7;
  padding: 10px 0;
  width: 100%;
  max-width: 400px;
}

.available-stock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mat-form-field {
  width: 4rem;
}

.quantity-wrapper {
  width: 50%;
}

.quantity-manager {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.quantity-manager {
  border: solid 0.1px #e0dfdf;
  border-radius: 30px;
}

.available {
  font-family: "Anton", Arial, sans-serif;
  font-weight: bold;
  color: #ff4081;
  letter-spacing: 0.4px;
  font-size: 1rem;
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#quantity-number {
  width: 30px;
  text-align: center;
}

.mat-icon-button {
  font-size: 1.5rem;
}

.star-rating {
  font-size: 1.4rem;
  color: #2196f3;
}

#description {
  padding: 10px 20px;
}

.btn-standar {
  margin-top: 20px;
  max-width: 250px;
}

@media screen and (max-width: 600px) {
  .product-wrapper,
  .content-wrapper,
  #img-product,
  .quantity-wrapper,
  .column,
  .available-stock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column {
    width: 80%;
  }
  .product-name {
    text-align: center;
  }
}

@media screen and (max-width: 790px) {
  .quantity-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

app-comment {
  width: 100vw;
}

@media screen and (max-width: 300px) {
  .quantity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=product.component.css.map */