@import "../../../app.component.scss";
.product-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.content-wrapper {
  background-color: $lighter-area;
}
.card,
.available-stock,
.quantity-wrapper,
.quantity-manager {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-wrapper {
  padding: 20px 0;
  width: 100%;
}
.column {
  flex-flow: row;
}

#img-product {
  width: 100%;
  margin: 0px;
}
.column {
  margin: 0 10px;
  width: 40%;
}

.price {
  font-size: 1.6rem;
}
.box-gray {
  background-color: $lighter-area;
  padding: 10px 0px;
}
.box {
  background-color: $light-area;
  padding: 10px 0;
  width: 100%;
  max-width: 400px;
}
.available-stock {
  flex-direction: column;
}
.mat-form-field {
  width: 4rem;
}
.quantity-wrapper {
  width: 50%;
}

.quantity-manager {
  width: fit-content;
}

.quantity{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.quantity-manager{
  border: solid 0.1px rgb(224, 223, 223);
  border-radius: 30px;
}

.available {
  font-family: $light-font;
  font-weight: bold;
  color: $accent;
  letter-spacing: 0.4px;
  font-size: 1rem;
}
.stock {
  display: flex;
  height: fit-content;
}
#quantity-number {
  width: 30px;
  text-align: center;
}
.mat-icon-button {
  font-size: 1.5rem;
}
.star-rating {
  font-size: 1.4rem;
  color: $primary;
}
#description {
  padding: 10px 20px;
}
.btn-standar {
  margin-top: 20px;
  max-width: 250px;
}
@media screen and (max-width: 600px) {
  .product-wrapper,
  .content-wrapper,
  #img-product,
  .quantity-wrapper,
  .column,
  .available-stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column {
    width: 80%;
  }
  .product-name {
    text-align: center;
  }
}
@media screen and (max-width: 790px) {
  .quantity-wrapper {
    flex-direction: column;
  }
}
app-comment{
  width: 100vw;
}
@media screen and (max-width: 300px) {
  .quantity {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
