<div class="content-wrapper">
  <div>
    <h1>Titulo</h1>
  </div>
  <div id="content">
    <div id="filter" class="column">
      <h2>Filtro</h2>
      <mat-form-field appearance="outline" id="filter-selector">
        <mat-label>Categoria:</mat-label>
        <mat-select>
          <mat-option value="option">Football</mat-option>
          <mat-option value="option">Basketball</mat-option>
          <mat-option value="option">Rugby</mat-option>
          <mat-option value="option">Handball</mat-option>
          <mat-option value="option">Ciclismo</mat-option>
          <mat-option value="option">Boxeo</mat-option>
          <mat-option value="option">Tenis</mat-option>
          <mat-option value="option">Otros</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div  class="column" id="products-wrapper">
      <h2>Productos</h2>
      <div id="products">
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="titulo">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>
        <div>
          <mat-card class="card">
            <button class="btn-producto">
              <img
                mat-card-image
                src="../../../assets/img/bicicleta.png"
                alt="foto productos"
              />
              <mat-card-content>
                <b class="title">BICICLETA MTB HILAND XT275 NARANJA</b>
              </mat-card-content>
            </button>
    
            <mat-card-content class="price"> $289.900 </mat-card-content>
            <mat-card-content class="valoration"> 3/5</mat-card-content>
          </mat-card>
        </div>