<mat-toolbar>
    <div id="categorys">
        <div class="tab-content">
            FOOTBALL
        </div>
        <div class="tab-content">
            BASKETBALL
        </div>
        <div class="tab-content">
            RUGBY
        </div>
        <div class="tab-content">
            HANDBALL
        </div>
        <div class="tab-content">
            CICLISMO
        </div>
        <div class="tab-content">
            BOXEO
        </div>
        <div class="tab-content">
            TENIS
        </div>
    </div>
    
</mat-toolbar>