<div class="content-wrapper">
  <div class="product-wrapper">
    <div class="column">
        <mat-card class="card">
          <img
            mat-card-image
            src="../../../assets/img/bicicleta.png"
            alt="foto productos"
            id="img-product"
          />
        </mat-card>
      </div>
      <div class="column">
        <h2 class="product-name"><b>BICICLETA MTB HILAND XT275 NARANJA</b></h2>
        <p class="price">$289.900</p>
        <div class="rating">
    
            <mat-icon class="star-rating">star_border</mat-icon>
            <mat-icon class="star-rating">star_border</mat-icon>
            <mat-icon class="star-rating">star_border</mat-icon>
            <mat-icon class="star-rating">star_border</mat-icon>
            <mat-icon class="star-rating">star_border</mat-icon>
    
        </div>
    
        <div class="box">
          <div class="quantity">
            <div class="quantity-wrapper">
              <div>Cantidad</div>
              <div class="quantity-manager">
                <button mat-icon-button (click)="minus()" id="btn-minus">-</button>
                <div id="quantity-number">1</div>
                <button mat-icon-button (click)="plus()" id="btn-plus">+</button>
              </div>
            </div>
            <div class="available-stock">
              <div class="available">disponibles: </div>
              <div class="stock">Solo quedan: <p>30</p></div>
            </div>
          </div>
        </div>
        <button mat-raised-button color="accent" class="btn-standar">
          AGREGAR AL CARRITO
        </button>
      </div>
  </div>
</div>
