$primary: #2196f3;
$accent: #ff4081;
$area: #212833;
$lighter-area: #ffff;
$light-area: rgb(247, 247, 247);
$strong-font: "SuperGrotesk-Bold", Arial, sans-serif;

.content-wrapper {
  background-color: $light-area;
  width: 100%;
  min-height: 68%;
}
#btn-logo {
  width: 180px;
}
.box {
  background-color: $lighter-area;
  border: solid 0.8px rgb(173, 173, 173);
  border-radius: 10px;
  padding: 20px 20px;
  margin: 5px 0;
}
.btn-standar {
  border-radius: 30px;
  height: 3rem;
  width: 50%;
  min-width: 200px;
}
.input-container {
  width: 100%;

}
.price {
  color: $accent;
}
.btn-standar{
  margin:10px 0px;
  justify-self:right ;
}
.card {
  transition: box-shadow 0.1s ease-in;
}
.card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}