<div class="content-wrapper">
  <h1>CREAR NUEVA CUENTA DE CLIENTE</h1>
  <div class=box>
    <form action="">
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Rut</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Ingrese nuevamente su contraseña</mat-label>
          <input matInput [type]="hideAlways ? 'password' : 'text'" />
        </mat-form-field>
      </div>
      <button mat-flat-button color="accent" type="submit" class="btn-standar">
        CREAR UNA CUENTA
      </button>
    </form>
  </div>
</div>
