<div class="content-wrapper">
  <h1>CREAR NUEVA CUENTA DE CLIENTE</h1>
  <div class="box">
    <form [formGroup]="formulario" method="POST" >
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Rut</mat-label>
          <input matInput formControlName="rut" />
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Region</mat-label>
          <mat-select formControlName="region">
            <mat-option *ngFor="let region of this.servicioRegiones.listaRegiones" [value]="region.region" (click)="seleccionarRegion(region)">
              {{region.region}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Comuna</mat-label>
          <mat-select formControlName="comuna">
             <mat-option *ngFor="let comuna of comunas" [value]="comuna">
              {{comuna}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
      </div>
      
      
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Ingrese su contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            type="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Ingrese nuevamente su contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="repeatPassword"
            type="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button  
          mat-flat-button 
          type="submit"
          color="accent"
          class="g-recaptcha" 
          data-sitekey="6LcKnjUbAAAAAJyeamokDgbukWhaPiC-3GNuMj58" 
          data-callback='onSubmit' 
          data-action='submit'>CREAR CUENTA
      </button>
    </form>
  </div>
</div>
