@import "../../../app.component.scss";
.content-wrapper{
  padding: 20px;
  overflow-x:auto;
  width: 100%;
}
table {
    width: 100%;
    min-width: 1500px;
    text-align: center;
    
  }
table th{
  text-align: center;
  
}