<div class="content-wrapper">
    <h1>MI PERFIL</h1>
    <div class="profile-wrapper">
        <div class="column">
        
            <img src="../../../../assets/img/chad.jpg" alt="">
        </div>
        <div class="column">
            <h2>Datos Personales:</h2>
            <div class="user-data">
                <div>
                    <h3>Nombres:</h3>
                    <h3>Apellidos:</h3>
                    <h3>RUT:</h3>
                    <h3>Dirección:</h3>
                    <h3>Región:</h3>
                    <h3>Comuna:</h3>
                </div>
                <div>
                    <h3>{{this.profile.nombres}}</h3>
                    <h3>{{this.profile.apellidos}}</h3>
                    <h3>{{this.profile.rut}}</h3>
                    <h3>{{this.profile.direccion}}</h3>
                    <h3>{{this.profile.region}}</h3>
                    <h3>{{this.profile.comuna}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
