@import "../../app.component.scss";

img {
  width: 100%;
  height: auto;
  transition: transform .5s ease;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
#gallery-wrapper{
  display: flex;
  justify-content: center;
}
.gallery {
  width: 100%;
  max-width: 900px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
  grid-gap: 15px;

}
.mat-card {
  width: 100%;
  height: 100%;
  max-width: 200px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  transition: transform .5s ease;
}
a{
  color: black;
}
mat-card:hover > img{
  transform: scale(90%);
 
}
mat-card:hover #link > a >h4{
  transform:translateY(6px);
  text-decoration: solid 1px black;
  
}
