<div class="content-wrapper">
  <div class="carousel-wrapper">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="images[0]"
            alt="Random first slide"
            class="img-carousel"
          />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="images[1]"
            alt="Random second slide"
            class="img-carousel"
          />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="images[2]"
            alt="Random third slide"
            class="img-carousel"
          />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            [src]="images[3]"
            alt="Random fourth slide"
            class="img-carousel"
          />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="gallery">
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/football.jpg"
          alt="football"
        />
        <mat-card-content id="link">
          <a href=""><h4>Football</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/basketball.jpg"
          alt="Basketball"
        />
        <mat-card-content id="link">
          <a href=""><h4>Basketball</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/bicicleta.png"
          alt="Ciclismo"
        />
        <mat-card-content id="link">
          <a href=""><h4>Ciclismo</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/boxeo.jpg"
          alt="Boxeo"
        />
        <mat-card-content id="link">
          <a href=""><h4>Vestuario</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
