<div class="content-wrapper">
<ngb-carousel>
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="{{image.src}}" alt="Random first slide">
    </div>
  </ng-template>
</ngb-carousel>

<div id="gallery-wrapper">
  <div class="gallery">
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/football.jpg"
          alt="football"
        />
        <mat-card-content id="link">
          <a href=""><h4>Football</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/basketball.jpg"
          alt="Basketball"
        />
        <mat-card-content id="link">
          <a href=""><h4>Basketball</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/bicicleta.png"
          alt="Ciclismo"
        />
        <mat-card-content id="link">
          <a href=""><h4>Ciclismo</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="../../../assets/img/boxeo.jpg"
          alt="Boxeo"
        />
        <mat-card-content id="link">
          <a href=""><h4>Boxeo</h4></a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
  
</div>
